
.cart {
  background: peachpuff;
  padding-top: 20px;
  width: 265px;
  margin-top: -50px;
}


nav {
  color: white;
  display: flex;
  width: 100%;
  position: fixed;
  justify-content: flex-end;
}


.iconz {
  display: flex;
  color: white;
  width: 100%;
  text-decoration: none;
  margin-left: 25px;
}

a {
  margin-left: 20px;
  color: white;
}

.jumbotron {
  color: white;
  background: black;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 150px;
  margin-bottom: 200px;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.store {
  margin-top: 200px;
}

img {
  width: 400px;
}

.home, .home a {
  margin-top: 300px;
  text-align: center;
  color: black;
}
.store-link a {
  border: 2px solid black;
  border-radius: 50px;
  background-color: peachpuff;
  padding-left: 10px;
  padding-right: 10px;

}
.store-link a:hover {
  text-decoration: none;
  background-color: black;
  color: white;
}
/*.store-link a:active {
  text-decoration: none;
  background-color: black;
  color: white;
}*/
