<div class="headings">
  <p>PRODUCT</p>
  <p>TITLE</p>
  <p>Price</p>
  <p>QTY</p>
  <p class="money">$$$</p>
  <p>&nbsp;</p>
</div>
<div class="">
<div class="view-cart">
{{cart-tile}}
</div>
</div>
{{log shoppingCart}}
